@font-face {
    font-family: 'PixelArtFont';
    src: url('../assets/pixelart.otf');
}
@font-face {
    font-family: 'ebrima';
    src: url('../assets/ebrima.ttf');
}
@font-face {
    font-family: 'ebrimabold';
    src: url('../assets/ebrima-bold.ttf');
}

.menubtn{
    position: absolute;
    top: 15px;
    left: 20px;
    width: 30px;
    height: 30px;
    z-index: 1;
    cursor: pointer;
}

#menubtn{
    display: none;
}

header{
    background-color: #55B8D3 ;
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header > *{
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 60px;

    margin-left: 40px;
    margin-right: 40px;
}

header .buttons  div{
    font-size: 1.5rem;
    color: white;
    font-family: 'ebrimabold', 'Segoe UI';
    cursor: pointer;
}

header .buttons img{
    width: 100px;
    cursor: pointer;
}

header .links img{
    width: 45px;
    cursor: pointer;
}


header .buttons div:hover{
    color: rgb(226, 226, 226);
}


/* lg */
@media (max-width: 1400px) {
    header > *{
        gap: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    header .buttons  div{
        font-size: 1.2rem;
    }
    header .buttons img{
        width: 70px;
    }
    header .links img{
        width: 35px;
    }
}

@media (max-width: 600px) {
    header {
        position: absolute;
        left: -100px;
        flex-direction: column;
        width: 100px;
        z-index: 5;
        transition: left .5s ease;
    }
    header > * {
        margin-top: 20px;
        flex-direction: column;
        gap: 30px;
        height: 150px;
    }
    header .buttons  div{
        font-size: 1rem;
    }
    header .buttons img{
        width: 70px;
    }
    header .links img{
        width: 35px;
    }
    .menubtn{
        display: block;
    }
    #menubtn{
        display: block;
    }
} 


header.open {
    left: 0; 
}