.cloud1 {
    position: absolute;
    width: 100px;
    height: 50px;
    z-index: -1;

    background-image: url("../assets/cloud1.png");
    animation: moveClouds linear infinite;
    animation-duration: 20;
}


.cloud2 {
    position: absolute;
    width: 100px;
    height: 50px;
    z-index: -1;

    background-image: url("../assets/cloud2.png");
    animation: moveClouds linear infinite;
    animation-duration: 20;
}

#cloud_container {
    width: 90%;
    height: 90%;
 }

