@import url("animations.css");
@import url("clouds.css");
@import url("menu.css");

@font-face {
  font-family: 'PixelArtFont';
  src: url('../assets/pixelart.ttf');
}


html {
  height: 100%;
}


body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #38B0DE, #ADDFF1);
  color: #000000;
  padding: 20px;
  overflow: hidden;
}


h1 {
  text-align: center;
  margin-top: 5%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255); 
  font-family: 'PixelArtFont';
}

